ignore
/build/
/dist/
/.idea/
/.vscode/
/nbproject/
nbproject/private/
/webrev
/.src-rev
/.jib/
.DS_Store
.metadata/
.recommenders/
test/nashorn/script/external
test/nashorn/lib
NashornProfile.txt
**/JTreport/**
**/JTwork/**
/src/utils/LogCompilation/target/
/src/utils/LogCompilation/logc.jar
/.project/
/.settings/
/compile_commands.json
/.cache
/.gdbinit
/.lldbinit
**/core.[0-9]*
*.rej
*.orig
test/benchmarks/**/target
/src/hotspot/CMakeLists.txt
/src/hotspot/compile_commands.json
/src/hotspot/cmake-build-debug/
/src/hotspot/.cache/
/src/hotspot/.idea/


# Report build artifacts
/Report/Thesis.aux
/Report/Thesis.log
/Report/Thesis.out
/Report/Thesis.lof
/Report/Thesis.lot
/Report/Thesis.toc
/Report/Thesis.bbl
/Report/Thesis.blg
/Report/Thesis.lol
/Report/Thesis.synctex.gz
/Report/missfont.log
/Report/Thesis.pdf

# Presentation build artifacts
/Presentation/Presentation.aux
/Presentation/Presentation.log
/Presentation/Presentation.out
/Presentation/Presentation.toc
/Presentation/Presentation.bbl
/Presentation/Presentation.blg
/Presentation/Presentation.nav
/Presentation/Presentation.snm
/Presentation/Presentation.vrb
/Presentation/Presentation.synctex.gz

# src overlay temp dirs
/.src_backup*/
/.src_restore*/

# Output of the scripts
/output/